<launch>
    <rosparam file="$(find hello_world)/config/params.yaml" command="load"/>
    <node name="server_endpoint" pkg="hello_world" type="server_endpoint.py" args="--wait" output="screen" respawn="true" />
    <node name="Subscriber" pkg="hello_world" type="Subscriber.py" args="--wait" output="screen" />
</launch>